* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #303030;

}

.container {
	margin: auto;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.contenedor {
	width: 350px;
	height: 350px;
	border-radius: 20px;
	background-color: #bf0000;
	margin: auto;
	align-items: center;
	text-align: center;
	justify-content: center;

}

.texto {
	margin: 30px 0;
	color: #fff;
}
.total {
	color: #fff;
}

.boton {
	margin-top: 10px;
	padding: 5px 20px;
	background-color: #4040ff;
	color: #fff;
}

.boton-abajo {
	margin-top: 10px;
	padding: 10px 50px;
	background-color: #60ff60;
	color: #000;
}
.boton-abajo a {
	text-decoration: none;
}
